<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username"><strong>имя пользователя</strong> <p style="color:red">{{ error }}</p>
    <input type="text" name="password"><strong>пароль</strong><br>
    <input type="text" name="email"><strong>почта</strong><br>
    <input type="text" name="first_name"><strong>имя</strong><br>
    <input type="text" name="last_name"><strong>фамилия</strong><br>
    <button>Сохранить</button>
</form>
<strong>{{ text }}</strong>
</body>
</html>